@charset "UTF-8";


/* em HTML é id = em CSS é # (só pode um ID por pagina)
em HTML é class = em CSS é . (pode varios por elementos) */

body {background-color: #B4CDEB;
font-family: Arial, Helvetica, sans-serif;}
h1 {color: #1EA652;}

h1#principal {text-align: center;
    background-image: linear-gradient(to right, #72869E, rgb(204, 238, 248));

color: #126632;}

h2{color: #2AE572;}

.basico {color: #e5562a; }
.intermediario {color: #c9e52a;}
.avançado {color: #362ae5;}
.destaque {background-image: linear-gradient(to right, #a6ff02cc, #263301ad);}

